#edit-account {
  .article-content {
    padding-top: 50px;
  }

  .main-title {
    margin-left: 10px;
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 30px;
  }
  .edit-account-details {
    margin-bottom: 50px;
  }
}