a,
a:hover {
  transition: all 0.3s ease;
  text-decoration: none;
}


.nav {
  list-style: none
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: #f30b0b;
}

.fill-primary {
  fill: #f75454;
}

.invalid-feedback {
  display: block;
}